<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>
<body>
    <div class="display" style="background-color:red"></div>
    <h1>User List</h1>
    <ul></ul>
    <button class="logout"><a href="/logout">Logout</a></button>
    <script>
        const ul=document.querySelector("ul");
        const display=document.querySelector(".display");
        const getUsers=async()=>{
            const res=await fetch("/api/auth/getUsers");
            const data=await res.json();
            data.user.map(mappeduser=>{
                if(mappeduser.username!=="admin"){
                    let li=`<li><b>username</b>=>${mappeduser.username}<br/><b>role</b>=>${mappeduser.role}</li>
                    <button class="edit">Edit Role</button> 
                    <button class="delete">Delete User</button>`;
                    ul.innerhtml+=li;
                }else{
                    return null;
                }
                const editRole=document.querySelectorAll(".edit");
                const deleteuser=document.querySelectorAll(".delete");
                editRole.forEach((button,i)=>{
                    button.addEventListener('click',async()=>{
                        display.textContent="";
                        const id=data.user[i+1].id;
                        const res=await fetch('/api/auth/update',{
                            method:"PUT",
                            body:JSON.stringify({role:"admin",id}),
                            headers:{'Content-Type':'application/json'},
                            credentials:'include',

                        })
                        const dataUpdate=await res.json();
                        if(res.status===400|| res.status===401){
                            document.body.scrollTop=0;
                            document.documentElement.scrollTop=0;
                            return display.textContent=`${dataUpdate.message}.${dataUpdate.error?dataUpdate.error:''}`
                        }
                        location.assign('/admin');
                    })
                });
                deleteUser.forEach((button,i)=>{
                    button.addEventListener('click',async()=>{
                        display.textContent="";
                        const id=data.user[i+1].id;
                        const res=await fetch('/api/auth/deleteUser',{
                            method:"DELETE",
                            body:JSON.stringify({id}),
                            headers:{'Content-Type':'application/json'},

                        })
                        const dataDelete=await res.json();
                        if(res.status===400|| res.status===401){
                            document.body.scrollTop=0;
                            document.documentElement.scrollTop=0;
                            return display.textContent=`${dataUpdate.message}.${dataUpdate.error?dataUpdate.error:''}`
                        }
                        location.assign('/admin');
                    })
                });
            })
        }
        getUsers();
    </script>
</body>
</html>